a > *{ 
    text-decoration:none;
}

.card{
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none !important;
    color:black !important;
    padding:20px;

}
.card:hover{
    background-color: rgba(255, 255, 0, 0.378);
}
.cardHeader{
    display:flex;
    text-decoration: none;
    justify-content: space-between;
    
}
.cardMain{
    width: 100%;
    display: flex;
    justify-content: center;

}
.cardMain > .cardMainImg{
    width: 80%;
}
.cardMain > .cardMainImg >img{
    width:100%
}


.card > .cardMainDecription{
    background:rgba(255, 255, 0, 0.259);
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: column;
    gap:2px;
}
.card > .cardMainDecription > div{
    display:flex;
    justify-content: space-between;

}
.card > .cardMainDecription > div >div{
 
    
}