.card{
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none !important;
    color:black !important;
    padding:20px;

}
.card:hover{
    background-color: rgba(255, 255, 0, 0.378);
}
.cardHeader{
    display:flex;
    text-decoration: none;
    justify-content: space-between;
    
}
.cardMain{
    width: 100%;
    display: flex;
    justify-content: center;

}
.cardMain > .cardMainImg{
    width: 80%;
}
.cardMain > .cardMainImg >img{
    width:100%
}


.cardMain > .cardMainDecription{
    background:yellow;
    width: 100%;
    height: auto;
}